header{
	width : 100%;
}
nav{
	display : flex;
}
ul{
	display : flex;
	padding : 0;
}
ul a{
	display : flex;
	text-align : center;
	width : max-content;
	padding : 10px;
	border : solid 2px gray;
	border-radius : 30px;
	margin : 5px;
	color : black;
	text-decoration : none;
	font-weight : bold;
}
a li:hover{
	cursor : pointer;
}
a li{
	text-decoration : none;
	color : white;
	display : flex;
	margin : auto;
}
a li:hover{
	text-decoration : none;
	color : black;
}
h1{
	text-align : center;
}
h2{
	text-align : center;
}
h3{
	font-weight : bold;
	text-align : center;
}
table
{
    border-collapse: collapse;
}
th{
	border : solid 1px black;
	padding : 5px;
}
tr{
	border : solid 1px black;
}
td{
	border : solid 1px black;
	padding : 5px;
}
textarea{
	max-width : 100%;
}
table{
	margin : auto;
}
#En-tete{
	display : flex;
	flex-wrap : wrap;
	justify-content : space-between;
	margin : auto;
	background-color : #37e2e5;
}
#LogoAccueil{
	text-decoration : none;
	display : flex;
}
#En-tete_Left{
	display : flex;
}
#IconeProfile{
	max-width : 50px;
	max-height : 50px;
}
#Auteur{
	display : flex;
	margin : auto;
	text-decoration : none;
	color : black;
}
#Logo{
	width : 50px;
	height : 50px;
	border-radius : 25px;
	margin : auto 5px auto 5px;
}
#ImgCouverture{
	max-width : 100%;
}
#Container{
	display : flex;
	margin : auto;
	width : 100%;
	flex-direction : column;
}
#Livre{
	display : flex;
	margin : auto;
	flex-direction : column;
}
#Titre{
	color : white;
	position : absolute;
	left : 40%;
	top : 35%;
}
#ImgCover{
	margin : auto;
	max-width : 60%;
	height : 500px;
}
#PageLivre{
	width : 80%;
	text-align : center;
	margin : auto;
	background-color : #88c5fb;
	border-radius : 15px;
	padding : 15px;
	margin-bottom : 15px;
}
#PageLivre p{
	display : flex;
	text-align : initial;
}
#BiographieTexte{
	width : 80%;
	padding-left : 10px;
	padding-right : 10px;
	margin-left : 10%;
	margin-right : 10%;
	background-color : RGBA(242, 215, 196, 0.50);
	border-radius : 0px 5px 5px 0px;
}
/*Contact*/
#TexteCentrer{
	margin : auto;
	width : 80%;
	text-align : center;
}
#DecorationFormulaire{
	margin : auto;
	width : 80%;
	display: flex;
	flex-direction: column;
}
form{
	display : flex;
	flex-direction : column;
	width : 75%;
	padding : 15px;
	margin : auto;
}
input{
	margin : 10px;
	padding : 5px;
	border : solid 1px gray;
	border-radius : 5px;
}
textarea{
	margin : 10px;
	padding : 5px;
	border : solid 1px gray;
	border-radius : 5px;
}
button{
	max-width : 120px;
	max-height : 40px;
	color : black;
	background-color : cyan;
	border : solid 1px #37e2e5;
	font-weight : bold;
}
/*Commentaire*/
#Comment{
	width : 80%;
	text-align : center;
	display : flex;
	margin : auto;
	flex-direction : column;
}
#Comment h2{
	margin : auto;
	width : 100%;
	padding-top : 15px;
	padding-bottom : 15px;
}
#DisplayComment{
	width : 30%;
	display : flex;
	flex-direction : column;
	border : solid 1px gray;
	border-radius : 5px;
	margin : auto;
	
}
#ReadComment{
	border : solid 1px blue;
	border-radius : 5px;
	position : relative;
	text-align : center;
}
#ModifComment{
	position : absolute;
	width : 50px;
	height : 50px;
	top : 0px;
	right : 0px;	
}
#CommentMod{
	width : 25px;
	height : 25px;
}
#CommentSignal{
	width : 25px;
	height : 25px;
}
#CommentDel{
	width : 25px;
	height : 25px;
}
/*Inscription/Connexion*/
#InscriptionConnection{
	width : 80%;
	display : flex;
	margin : auto;
	flex-direction : column;
}
#Connect{
	width : 60%;
	display : flex;
	margin : auto;
	flex-direction : column;
	border : solid 1px gray;
}
#Inscription{
	width : 40%;
	display : flex;
	margin : auto;
	flex-direction : column;
	border : solid 1px gray;
	text-align : center;
}
#Deconnexion{
	margin : auto;
}
/*Admin*/
#AddChapter{
	margin : auto;
	padding : 15px;
}
@media all and (max-width : 1024px)
{
	#En-tete{
		justify-content : center;
	}
	#Titre{
		top :25%;
		left : 25%;
	}
}
@media all and (max-width : 500px)
{
	body{
		margin :0;
	}
	#En-tete{
		flex-wrap : wrap;
	}
	#ImgCouverture{
		display : none;
	}
	#Titre{
		position : inherit;
		text-align : center;
		color : black;
	}
	ul{
		flex-wrap : wrap;
	}
	/*Commentaire*/
	#DisplayComment{
		width : 100%;
	}
	/*Biographie*/
	#ImgCover{
		display : none;
	}
	/*Connexion*/
	#Inscription{
		width : 80%;
	}
}